.new-person-info {
	margin-bottom: 142px;
}

.new-person {
	display: flex;
	justify-content: space-between;
	margin-bottom: 19px;
}

.person-title {
	font-size: 14px;
	font-weight: 600;
	color: #9b9b9b;
}

.input-person {
	border: none;
	outline: none;
	text-align: right;
	font-size: 14px;
	color: #000000;
	color: #cfcfcf;
}

.input-person::placeholder {
	color: #cfcfcf;
}

.input-person[type='date'] {
	font-size: 14px;
	font-weight: 500;
	color: #cfcfcf;
}

.input-person[type='text'] {
	font-size: 14px;
	font-weight: 500;
	color: #cfcfcf;
}

.input-person[type='date']::-webkit-calendar-picker-indicator {
	display: none;
}

.input-person[type='time'] {
	font-size: 14px;
	font-weight: 500;
	color: #cfcfcf;
}

.input-person[type='time']::-webkit-calendar-picker-indicator {
	display: none;
}

.add-person-button {
	display: flex;
	justify-content: center;
	margin-bottom: 55px;
}

.add-person-btn {
	width: 298px;
	height: 44px;
	background-color: #3d5a73;
	border: none;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	border-radius: 5px;
}

.new-footer-img {
	position: absolute;
	left: 0px;
	bottom: 0;
	z-index: -2;
	width: 100%;
	height: 250px;
}

.color {
	color: #000 !important;
}
