.main-affirmation-background {
	background-image: url('../../public/images/Layer_2.png');
	height: 370px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: -36px;
	padding-top: 55px;
}

.affirmation-title {
	font-size: 24px;
	font-weight: 700;
	color: #3d5a73;
	text-align: center;
	margin-bottom: 17px;
}

.slider {
	overflow: hidden;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	border-radius: 9px;
}

.image-slider {
   position: relative;
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.image {
   width: 450px;
   height: 300px;
   border-radius: 12px;
}
.left {
   position: absolute;
   left: 3rem;
   top: 50%;
   font-size: 1rem;
   color: blue;
   z-index: 5;
   cursor: pointer;
   user-select: none;
}
.right {
   position: absolute;
   right: 3rem;
   top: 50%;
   font-size: 2rem;
   color: blue;
   z-index: 5;
   cursor: pointer;
   user-select: none;
}
.currentSlide {
   transition-duration: 0.5s ease;
   opacity: 0;
}
.currentSlide.active {
   opacity: 1;
   transition-duration: 0.5s;
   transform: scale(1.2);
}

.affirmation-card {
	min-height: 100%;
	background-color: #fff;
  padding: 14px 10px;
  display: flex;
}

.affirmation-card-title {
	font-size: 24px;
	font-weight: 700;
	color: #3d5a73;
  margin-bottom: 10px;
}

.affirmation-card-description {
  font-size: 16px;
  font-weight: 400;
  color: #2A2A2A;
  width: 171px;
}

.affirmation-description {
  text-align: center;
  font-size: 16px;
  color: #2A2A2A;
  padding-bottom: 120px;

}