.background-img {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 250px;
  z-index: -1;
}

.text {
  padding-top: 20px;
  margin-bottom: 10px;
}

.title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 600;
  color: #25262A;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  color: #25262ACC;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

@media(min-height: 700px) {
  .img-wrapper {
    margin-bottom: 50px;
  }
}

@media(min-height: 750px) {
  .img-wrapper {
    margin-bottom: 100px;
  }
}

@media(min-height: 850px) {
  .img-wrapper {
    margin-bottom: 150px;
  }
}

@media(min-height: 900px) {
  .img-wrapper {
    margin-bottom: 200px;
  }
}

.btn {
  width: 100%;
  height: 52px;
  background-color: #2C516C;
  border-radius: 12px;
  font-weight: 600;
  font-size: 17px;
  color: #fff;
  margin-bottom: 16px;
  border: none;
}

.indicator-percent {
  font-size: 14px;
  color: #2C516C;
  font-weight: 400;
  text-align: end;
  margin-bottom: 10px;
}

.parent-span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #D9D9D980;
  border-radius: 100px;
}

.children-span {
  display: block;
  width: 10%;
  height: 4px;
  background-color: #2C516C;
  margin-top: -4px;
  border-radius: 100px;
}

.percent-10 {
  width: 10%;
}

.percent-20 {
  width: 20%;
}

.percent-30 {
  width: 30%;
}

.percent-40 {
  width: 40%;
}

.percent-50 {
  width: 50%;
}

.percent-60 {
  width: 60%;
}

.percent-70 {
  width: 70%;
}

.percent-80 {
  width: 80%;
}

.percent-90 {
  width: 90%;
}

.percent-100 {
  width: 100%;
}

.checkbox-wrapper {
  margin-bottom: 35px;
}

@media(min-height: 700px) {
  .checkbox-wrapper {
    margin-bottom: 50px;
  }
}

@media(min-height: 750px) {
  .checkbox-wrapper {
    margin-bottom: 100px;
  }
}

@media(min-height: 850px) {
  .checkbox-wrapper {
    margin-bottom: 150px;
  }
}

@media(min-height: 900px) {
  .checkbox-wrapper {
    margin-bottom: 200px;
  }
}

.checkbox-row {
  display: flex;
  align-items: center;
  border: 1px solid #2C516C4D;
  border-radius: 10px;
  padding: 11px;
  margin-bottom: 10px;
  background-color: #fff;
}

.checkbox-left {
  display: flex;
  align-items: center;
  width: 335px;
  height: 28px;
}

.checkbox-img {
  width: 31px;
  height: 31px;
  margin-right: 10px;
}

.clock-icon {
  width: 25px;
  padding-left: 3px;
}

.checkbox-text {
  color: #2C516C;
  font-size: 15px;
  font-weight: 400;
}

.input {
  width: 25px;
  height: 22px;
  border: 1px solid #2C516C4D;
  border-radius: 4px;
  text-align: center;
  color: #fff;
}

.name-input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #2C516C99;
  text-align: center;
  font-size: 15px;
  color: #2C516C99;
  font-weight: 400;
  padding-bottom: 16px;
  margin-bottom: 220px;
}

@media(min-height: 700px) {
  .name-input {
    margin-bottom: 250px;
  }
}

@media(min-height: 750px) {
  .name-input {
    margin-bottom: 300px;
  }
}

@media(min-height: 850px) {
  .name-input {
    margin-bottom: 350px;
  }
}

@media(min-height: 900px) {
  .name-input {
    margin-bottom: 400px;
  }
}

.input-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.input-box {
  width: 300px;
  background: #2C516C0D;
  font-size: 16px;
  font-weight: 400;
  color: #2C516C99;
  border: 1px solid #2C516C4D;
  border-radius: 10px;
  padding: 20px 20px;
  margin-bottom: 30px;
}

.birth-img {
  width: 19px;
  height: 10px;
}

.link-wrapper {
  text-align: center;
  margin-bottom: 12px;
}

.dont-now {
  font-size: 16px;
  font-weight: 500;
  color: #2C516C;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.place-input {
  width: 300px;
  background: #2C516C0D;
  font-size: 16px;
  font-weight: 400;
  color: #2C516C99;
  border: 1px solid #2C516C4D;
  border-radius: 10px;
  padding: 20px 20px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	margin-bottom: 9px;
}

.header-title {
	font-size: 26px;
	color: #3d5a73;
	font-weight: 700;
  text-align: center;
}

.link-buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.active-button,
.inactive-button {
	width: 168px;
	height: 30px;
	font-size: 15px;
	font-weight: 600;
	border-radius: 8px;
	border: none;
}

.active-button {
	background-color: #3d5a73;
	color: #fff;
}

.inactive-button {
	border: 1px solid #3d5a73;
	background-color: transparent;
	color: #3d5a73;

}

.footer {
	width: 100%;
	height: 99px;
	background: linear-gradient(#3d5a73, #001330);
  position: absolute;
  bottom: 0;
}

.footer-images {
  height: 99px;
	display: flex;
	align-items: center;
  justify-content: space-between;
}

.detailed-text {
  margin-bottom: 62px;
}

.paragraph {
  margin-bottom: 20px;
}

.information-footer {
  background-image: url('../../public/images/Layer_1.png');
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.information-footer-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #3D5A73;
}

.information-footer-description {
  font-size: 13px;
  font-weight: 400;
  color: #2A2A2A;
  margin-bottom: 24px;
}

.information-footer-buttons {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.green-btn, .red-btn, .blue-btn {
  width: 127px;
  height: 34px;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-bottom: 40px;

}

.green-btn {
  background-color: #62AA41; 
}

.red-btn {
  background-color: #B6053A;
}

.blue-btn {
  background-color: #0775A4;
}

.position {
  position: absolute;
}

.padding-top-32 {
  padding-top: 32px;
}

.padding-top-90 {
  padding-top: 90px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-32 {
  margin-bottom: 32px;
}

.margin-bottom-36 {
  margin-bottom: 36px;
}

.margin-bottom-42 {
  margin-bottom: 42px;
}

.margin-bottom-56 {
  margin-bottom: 56px;
}

.margin-bottom-62 {
  margin-bottom: 62px;
}

.margin-bottom-75 {
  margin-bottom: 75px;
}

.margin-bottom-85 {
  margin-bottom: 85px;
}

.margin-bottom-90 {
  margin-bottom: 90px;
}

.margin-bottom-106 {
  margin-bottom: 106px;
}

.margin-bottom-130 {
  margin-bottom: 130px;
}

.margin-bottom-170 {
  margin-bottom: 170px;
}

.margin-bottom-200 {
  margin-bottom: 200px;
}

.margin-bottom-215 {
  margin-bottom: 215px;
}

.margin-bottom-235 {
  margin-bottom: 235px;
}

.margin-bottom-263 {
  margin-bottom: 263px;
}

.margin-bottom-295 {
  margin-bottom: 295px;
}

@media(min-height: 700px) {
  .adaptive-margin {
    margin-bottom: 200px;
  }
}

@media(min-height: 750px) {
  .adaptive-margin {
    margin-bottom: 250px;
  }
}

@media(min-height: 850px) {
  .adaptive-margin {
    margin-bottom: 300px;
  }
}

@media(min-height: 900px) {
  .adaptive-margin {
    margin-bottom: 350px;
  }
}