.base-text {
  margin-bottom: 20px;
  font-size: 14px;
}

.base-cards {
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base-card {
  width: 345px;
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F9F9;
  padding: 12px 16px 6px 14px;
  margin-bottom: 16px;
  border-radius: 10px;
}

.base-card-title {
  font-size: 17px;
  font-weight: 600;
  color: #3D5A73;
  margin-bottom: 8px;
}

.base-card-description {
  font-size: 13px;
  font-weight: 400;
  color: #959494;
}

.base-card-img {
  width: 10px;
  height: 17px;
}

