.first-block {
  margin-bottom: 34px;
}

.bases-title {
  font-size: 24px;
  font-weight: 700;
  color: #3D5A73;
  margin-bottom: 14px;
}

.second-block {
  margin-bottom: 26px;
}

.type-bases-texts {
  margin-bottom: 10px;
  font-size: 12px;
}

.type-bases-title {
  margin-bottom: 10px;
  color: #3D5A73;
  font-size: 14px;
  font-weight: 700;
}