.calculation-wrapper {
  display: flex;
  justify-content: end;
}

.user-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-information {
  background-color: #F9F9F9;
  width: 345px;
  padding: 12px 16px 10px 13px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.user-info:last-child {
  margin-bottom: 22px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.down-row {
  display: flex;
  justify-content: space-between;
}

.user-name {
  font-size: 18px;
  font-weight: 600;
  color: #3D5A73;

}

.user-birth {
  font-size: 13px;
  font-weight: 400;
  color: #959494;
  margin-bottom: 2px;
}

.user-characteristic {
  color: #2A2A2A;
  font-size: 13px;
  font-weight: 400;
}

.color-red {
  color: #B6053A;
}

.user-info-numbers {
  font-size: 13px;
  font-weight: 400;
  color: #959494;
}

.user-character {
  font-size: 13px;
  color: #2A2A2A;
}

.add-button {
  display: flex;
  justify-content: center;
  margin-bottom: 187px;
}

.add-btn {
  background-color: #3D5A73;
  width: 274px;
  height: 44px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}