.comparison-user-name {
	font-size: 31px;
	font-weight: 700;
	color: #3d5a73;
}

.comparison-header-down {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 29px;
}

.projector-btn {
	background-color: #62aa41;
	border: none;
	width: 160px;
	height: 22px;
	color: #fff;
	border-radius: 8px;
	font-weight: 400;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.comparison-buttons {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.comparison-btn {
	width: 160px;
}

.user-info-rows {
	margin-bottom: 24px;
}

.comparison-user-info {
	justify-content: space-between;
	margin-bottom: 15px;
}

.comparison-user-gates {
	display: flex;
	gap: 9px;
	justify-content: space-between;
	flex-direction: row;
}

/* .comparison-gap {
  gap: 11.5px;
} */

.personality-row-title {
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 14px;
	color: #0775a4;
}

.design-row-title {
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 14px;
	color: #b6053a;
}

.user-info-name {
	font-size: 13px;
	color: #2a2a2a;
	margin-bottom: 10px;
}

.user-info-gates {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gate-number {
	color: #bdbbbb;
	font-size: 9px;
}

.w12x12 {
	width: 12px;
	height: 12px;
}

.w12x14 {
	width: 12px;
	height: 14px;
}

.w10x12 {
	width: 10px;
	height: 12px;
}

.w7x12 {
	width: 7px;
	height: 12px;
}

.w9x12 {
	width: 9px;
	height: 12px;
}

.w10x10 {
	width: 10px;
	height: 10px;
}

.w8x10 {
	width: 8px;
	height: 10px;
}

.users-rave-card {
	display: flex;
}

.rave-card-title {
	font-size: 13px;
	color: #a9a9a9;
	margin-bottom: 5px;
}

.comparison-gate-numbers {
	position: relative;
	color: #e2e2e2;
	font-size: 5px;
}

.comparison-footer {
	position: relative;
}

/* @media (max-height: 790px) {
	.comparison-footer {
    position: absolute;
    bottom: -50px;
  }
}

@media (max-height: 750px) {
	.comparison-footer {
    position: absolute;
    bottom: -80px;
  }
}

@media (max-height: 710px) {
	.comparison-footer {
		position: absolute;
    bottom: -150px;
  }
} */

.cn-64 {
	top: -204px;
	left: 79px;
}

.cn-61 {
	top: -204px;
	left: 88px;
}

.cn-63 {
	top: -204px;
	left: 96px;
}

.cn-47 {
	top: -189px;
	left: 79px;
}

.cn-24 {
	top: -189px;
	left: 88px;
}

.cn-4 {
	top: -189px;
	left: 97px;
}

.cn-11 {
	top: -181px;
	left: 94px;
}

.cn-43 {
	top: -173px;
	left: 87px;
}

.cn-17 {
	top: -181px;
	left: 82px;
}

.cn-23 {
	top: -157px;
	left: 87px;
}

.cn-56 {
	top: -154px;
	left: 94px;
}

.cn-35 {
	top: -149px;
	left: 98px;
}

.cn-12 {
	top: -143px;
	left: 99px;
}

.cn-45 {
	top: -137px;
	left: 98px;
}

.cn-33 {
	top: -133px;
	left: 93px;
}

.cn-8 {
	top: -131px;
	left: 89px;
}

.cn-31 {
	top: -133px;
	left: 83px;
}

.cn-20 {
	top: -137px;
	left: 77px;
}

.cn-16 {
	top: -144px;
	left: 77px;
}

.cn-62 {
	top: -152px;
	left: 78px;
}

.cn-1 {
	top: -120px;
	left: 89px;
}

.cn-13 {
	top: -115px;
	left: 92px;
}

.cn-25 {
	top: -107px;
	left: 99px;
}

.cn-46 {
	top: -99px;
	left: 94px;
}

.cn-2 {
	top: -91px;
	left: 89px;
}

.cn-15 {
	top: -99px;
	left: 82px;
}

.cn-10 {
	top: -107px;
	left: 76px;
}

.cn-7 {
	top: -115px;
	left: 84px;
}

.cn-21 {
	top: -95px;
	left: 115px;
}

.cn-40 {
	top: -83px;
	left: 123px;
}

.cn-26 {
	top: -85px;
	left: 106px;
}

.cn-51 {
	top: -90px;
	left: 110px;
}

.cn-14 {
	top: -73px;
	left: 88px;
}

.cn-29 {
	top: -70px;
	left: 95px;
}

.cn-59 {
	top: -56px;
	left: 99px;
}

.cn-9 {
	top: -48px;
	left: 95px;
}

.cn-3 {
	top: -45px;
	left: 89px;
}

.cn-42 {
	top: -48px;
	left: 81px;
}

.cn-27 {
	top: -56px;
	left: 75px;
}

.cn-34 {
	top: -65px;
	left: 75px;
}

.cn-5 {
	top: -71px;
	left: 84px;
}

.cn-48 {
	top: -71px;
	left: 10px;
}

.cn-57 {
	top: -67px;
	left: 17px;
}

.cn-44 {
	top: -64px;
	left: 22px;
}

.cn-50 {
	top: -60px;
	left: 29px;
}

.cn-32 {
	top: -56px;
	left: 23px;
}

.cn-28 {
	top: -53px;
	left: 17px;
}

.cn-18 {
	top: -50px;
	left: 11px;
}

.cn-36 {
	top: -71px;
	left: 164px;
}

.cn-22 {
	top: -67px;
	left: 158px;
}

.cn-37 {
	top: -63px;
	left: 151px;
}

.cn-6 {
	top: -60px;
	left: 146px;
}

.cn-49 {
	top: -57px;
	left: 150px;
}

.cn-55 {
	top: -54px;
	left: 157px;
}

.cn-30 {
	top: -50px;
	left: 162px;
}

.cn-60 {
	top: -30px;
	left: 88px;
}

.cn-52 {
	top: -30px;
	left: 95px;
}

.cn-53 {
	top: -30px;
	left: 81px;
}

.cn-19 {
	top: -24px;
	left: 96px;
}

.cn-39 {
	top: -18px;
	left: 95px;
}

.cn-41 {
	top: -12px;
	left: 95px;
}

.cn-58 {
	top: -12px;
	left: 79px;
}

.cn-38 {
	top: -18px;
	left: 79px;
}

.cn-54 {
	top: -24px;
	left: 79px;
}
