@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	max-width: 370px;
}

a {
	text-decoration: none;
	color: #fff;
}
