.main-images {
  display: flex;
}

.subscription {
  display: flex;
  height: 100vh;
  justify-content: end;
  flex-direction: column;
}

.girl-img {
  z-index: -1;
}

.close-img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5%;
  top: 63px;
}

.subscription-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #25262A;
}

.subscription-advantages {
  margin-bottom: 10px;
}

.advantage {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
}

.advantage-title {
  font-size: 14px;
  font-weight: 500;
  color: #25262A;
}

.subscription-try {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #323232;
  margin-bottom: 10px;
}

.weight-600 {
  font-weight: 600;
}

.subscription-try-description {
  font-size: 15px;
  font-weight: 400;
  color: #323232c3;
  text-align: center;
  margin-bottom: 10px;
}

.try-btn {
  width: 100%;
  height: 52px;
  background-color: #2C516C;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}

.all-subscription {
  font-size: 17px;
  font-weight: 600;
  color: #2C516C;
  text-align: center;
  margin-bottom: 10px;
}

.subscription-footer {
  display: flex;
  justify-content: center;
  gap: 19px;
  font-size: 14px;
  font-weight: 400;
  color: #2c516cb4;
  margin-bottom: 43px;
}

.offer {
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
  height: 55vh;
  padding: 27px 0;
  border-radius: 15px;
  display: none;
}

.offer-card {
  width: 95%;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  gap: 5px;
  background-color: #2c516c2a;
  border-radius: 12px;
  margin-bottom: 14px;
}

.offer-title {
  font-size: 18px;
  font-weight: 700;
  color: #25262a7d;
}

.offer-price {
  font-size: 14px;
  font-weight: 400;
  color: #25262a7b
}

.year-offer {
  background-color: #fff;
  border: 1px solid #2C516C
}

.year-offer-title {
  font-size: 18px;
  font-weight: 700;
  color: #323232;
}
